.navbar {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background: transparent;
  z-index: 2;
  padding: 0.5rem 1rem;
  transition: all 300ms ease-in;

  // Logo and brand
  &-brand {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 1.8rem;

    .logo {
      width: 55px;
      height: 40px;
      background: url(../img/logo_white.png) no-repeat center center/cover;
    }

    a {
      color: $primary-color;
    }

    h3 {
      margin-left: 0.5rem;
    }
  }

  // Link list
  ul {
    //display: none;
    display: flex;
    justify-self: right;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    li {
      padding: 0rem 0.5rem;
      margin: 0rem 0.5rem;

      a {
        color: $light-color;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.5s ease-out;

        &:hover {
          color: $primary-color;
          letter-spacing: 0.5px;
        }
      }
    }
  }

  // Burguer button for mobile screens
  .burguer {
    display: none;
    padding: 0.5rem 2rem;
    justify-self: end;
    cursor: pointer;

    div {
      transition: all 0.2s ease-out;
      width: 25px;
      height: 0.2rem;
      background: $primary-color;
      margin: 5px;
    }

    &.close {
      .line-1 {
        transform: translateY(8px) rotate(-45deg);
        background: $light-color;
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY(-8px) rotate(45deg);
        background: $light-color;
      }
    }
  }

  &.scrolled {
    background: darken($ocean-color, 15);
    box-shadow: 0rem 1px 8px #000;
  }
}

// mobile_screen
@media (max-width: 600px) {
  .navbar {
    padding: 0.5rem 0rem;
  }
  .navbar ul {
    display: none;
  }
  .navbar .burguer {
    display: block;
  }
}
