@import "config";
@import "showcase";
@import "navbar";
@import "navbarMobile";
@import "slidershow";
@import "footer";
@import "form";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  line-height: 1.5;
  color: $light-color;
  overflow-x: hidden;
  background: darken($ocean-color, 12);
}

.text-secondary {
  color: $primary-color;
}

.bg-headline {
  font-size: 2rem;
}
.lg-headline {
  font-size: 1.1rem;
  color: rgba(darken(#fff, 12), 0.7);
}

.all-container {
  @include easeOut;
  &.shift {
    transform: translateX(-37vw);
  }
}

.btn {
  background: $ocean-color;
  background: transparent;
  border: 2px solid #fff;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  @include easeOut;

  &.plain {
    margin-top: 5rem;
  }
  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    color: #333;
  }
}

#experience {
  width: 100%;
  background: darken($ocean-color, 12);

  .container {
    width: 90%;
    max-width: 900px;
    height: 100%;
    margin: auto;
    padding: 3rem 0;

    p {
      font-size: 0.9rem;
      color: rgba(darken(#fff, 12), 0.7);
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: left;
      border-left: solid 1px #fff;
      padding-left: 1rem;
    }

    .exp-main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 3rem 1rem 0rem 1rem;

      .exp-icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        i {
          padding-bottom: 1rem;
        }
        h3 {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

#team {
  background: darken($ocean-color, 10);
  width: 100%;

  .container {
    width: 90%;
    max-width: 900px;
    height: 100%;
    margin: auto;
    padding: 3rem 0;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-left: solid 1px #fff;
    padding-left: 1rem;
  }

  .team-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .person-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .photo {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px solid $primary-color;
        box-shadow: 2px 2px 2px #333;

        &.p1 {
          background: url("../img/cristian.jpeg") no-repeat center right/ cover;
        }
        &.p2 {
          background: url("../img/anthony.jpeg") no-repeat center;
        }
      }
      p {
        width: 90%;
        max-width: 400px;
        text-align: left;
        margin: 0.5rem auto;
        color: rgba(darken(#fff, 12), 0.8);
        font-size: 0.9rem;
      }
    }
  }
}

#gallery {
  background: darken($ocean-color, 12);
  width: 100%;
  padding: 0rem 0 2rem 0;

  .container {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-left: solid 1px #fff;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0;
    text-align: center;
    margin: auto;
    width: 150px;
    padding: 0.5rem;
  }
}

#book {
  width: 100%;
  background: darken($ocean-color, 12);
  padding: 2rem 0rem;

  .container {
    width: 90%;
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-direction: column;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: left;
      border-left: solid 1px #fff;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
  }
}

#contact {
  width: 100%;
  background: darken($ocean-color, 10);
  padding: 2rem 0rem;

  .container {
    width: 90%;
    max-width: $max-width;
    margin: auto;
    .contact__main {
      margin: 1.5rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      &__item {
        margin: 1rem;
        span {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          i {
            margin: 0 1rem;
          }
        }
      }
    }
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-left: solid 1px #fff;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  #experience {
    .container {
      .exp-main {
        padding-top: 0rem;
        grid-template-columns: 1fr;
        .exp-icon {
          padding-top: 1rem;
          align-items: center;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

// media mobile
@media (max-width: 600px) {
  .bg-headline {
    font-size: 1.6rem;
  }
  #experience {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
    }
  }

  #team {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
      .team-container {
        grid-template-columns: 1fr;

        .person-container {
          padding: 1rem 0;
        }
        p {
          text-align: center;
        }
      }
    }
  }

  #gallery {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
      .slide-caption {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }

  #book {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
    }
  }

  #contact {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
    }
  }
}

// media large
@media (min-width: 1000px) {
  .bg-headline {
    font-size: 2.5rem;
  }
  .lg-headline {
    font-size: 1.3rem;
    color: rgba(darken(#fff, 12), 0.7);
  }
}
