@import "config";
@import "showcase";
@import "navbar";
@import "navbarMobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  line-height: 1.5;
  color: $light-color;
  overflow-x: hidden;
}

.text-secondary {
  color: $primary-color;
}

footer {
  width: 100%;
  background: darken($ocean-color, 10);
  display: flex;
  color: $light-color;
  justify-content: center;
  align-content: center;
  padding: 2rem 0rem 1rem 0rem;
}

.bg-headline {
  font-size: 2rem;
}
.lg-headline {
  font-size: 1.1rem;
  color: rgba(darken(#fff, 12), 0.7);
}

.all-container {
  @include easeOut;
  &.shift {
    transform: translateX(-37vw);
  }
}

#experience {
  width: 100%;
  background: darken($ocean-color, 15);

  .container {
    width: 90%;
    max-width: 900px;
    height: 100%;
    margin: auto;
    padding: 3rem 0;

    p {
      font-size: 0.9rem;
      color: rgba(darken(#fff, 12), 0.7);
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: left;
      border-left: solid 1px #fff;
      padding-left: 1rem;
    }

    .exp-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 3rem;
      padding-left: 1rem;

      .exp-icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        i {
          padding-bottom: 1rem;
        }
        h3 {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

#team {
  background: darken($ocean-color, 10);
  width: 100%;

  .container {
    width: 90%;
    max-width: 900px;
    height: 100%;
    margin: auto;
    padding: 3rem 0;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-left: solid 1px #fff;
    padding-left: 1rem;
  }

  .team-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .person-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .photo {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: url("../img/person.jpg") no-repeat center center/ cover;
        border: 2px solid $primary-color;
        box-shadow: 2px 2px 2px #333;
      }
      p {
        width: 90%;
        text-align: center;
        margin: auto;
        color: rgba(darken(#fff, 12), 0.7);
      }
    }
  }
}

@media (max-width: 600px) {
  #experience {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
      .exp-main {
        padding-top: 1rem;
        grid-template-columns: 1fr;
        .exp-icon {
          align-items: center;
          p {
            text-align: center;
          }
        }
      }
    }
  }

  #team {
    .container {
      .heading {
        align-items: center;
        border-bottom: solid 1px #fff;
        border-left: none;
        padding-bottom: 1rem;
      }
      .team-container {
        grid-template-columns: 1fr;

        .person-container {
          padding: 1rem 0;
        }
      }
    }
  }
}
